---
const { title, description, thumbnail, link, date, author } = Astro.props;
---
<a href={link} class="card h-full flex flex-col text-left group">
	<div class="overflow-hidden">
		<img 
			src={thumbnail} 
			alt={`Gambar thumbnail untuk artikel ${title}`}
			class="w-full h-56 object-cover group-hover:scale-110 transition-transform duration-500" 
			loading="lazy"
			draggable="false"
			onerror="this.onerror=null;this.src='https://placehold.co/400x224/f87171/ffffff?text=Image+Error';"
		/>
	</div>
	<div class="p-6 flex flex-col gap-2 grow">
		<h3 class="font-bold text-xl !text-gray-800">{title}</h3>
		<p class="text-gray-600 grow line-clamp-3">{description}</p>
		
		<div class="text-sm text-gray-500 mt-4 pt-4 border-t flex justify-between items-center">
			<span>Oleh: <strong>{author}</strong></span>
			<span>{new Date(date).toLocaleDateString('id-ID', { day: 'numeric', month: 'short', year: 'numeric' })}</span>
		</div>
	</div>
</a>

