---
import { Image } from 'astro:assets';
const { title, description, thumbnail, link, date, author } = Astro.props;
---
<a href={link} class="card h-full flex flex-col text-left group">
	<div class="overflow-hidden">
		<button
			class="w-full"
			data-image-src={thumbnail.src}
			aria-label={`Preview gambar ${title}`}
		>
			<Image 
				src={thumbnail} 
				alt={`Gambar thumbnail untuk artikel ${title}`}
				class="w-full h-56 object-cover group-hover:scale-110 transition-transform duration-500" 
				draggable="false"
				width={400}
				height={224}
			/>
		</button>
	</div>
	<div class="p-6 flex flex-col gap-2 grow">
		<h3 class="font-bold text-xl !text-gray-800">{title}</h3>
		<p class="text-gray-600 grow line-clamp-3">{description}</p>
		
		<div class="text-sm text-gray-500 mt-4 pt-4 border-t flex justify-between items-center">
			<span>Oleh: <strong>{author}</strong></span>
			<span>{new Date(date).toLocaleDateString('id-ID', { day: 'numeric', month: 'short', year: 'numeric' })}</span>
		</div>
	</div>
</a>

<script>
	document.querySelectorAll('.card button[data-image-src]').forEach(buttonElement => {
		const button = buttonElement as HTMLElement; // Cast to HTMLElement
		button.addEventListener('click', (e) => {
			e.preventDefault(); // Prevent default link behavior
			e.stopPropagation(); // Stop propagation to the parent <a> tag

			const imgSrc = button.dataset.imageSrc;
			if (imgSrc) {
				const event = new CustomEvent('openImagePreview', { detail: { src: imgSrc } });
				document.dispatchEvent(event);
			}
		});
	});
</script>

